.App {
  text-align: center;
}

.Topper {
  height: 300px;
  background: linear-gradient(#03c,#39f);
}

.Fixed {
  position: fixed;
  bottom: 0;
  z-index: 100000;
}

.Login Nav {
  margin: 20px;
}
.Card {
  margin: 30px;
}

.CardHolder {
  margin-top: 0px;
  z-index:1;
  display:block;
  float:left;
  margin-top:-100px;
  width:100%;
  background: linear-gradient(#ffffff, #ffffff) ;
  transform:skew(0deg,3deg);
  -ms-transform:skew(0deg,3deg); /* IE 9 */
  -webkit-transform:skew(0deg,3deg); /* Safari and Chrome */
}


.CardHolder .wrapper {
  display:block;
  float:left;
  margin:50px auto 0px;
  width:100%;
  padding:0 5%;
  transform:skew(0deg,-3deg);
  -ms-transform:skew(0deg,-3deg);
  -webkit-transform:skew(0deg,-3deg); 
  position:relative;
  top:-200px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
